<%- include('header'); -%>

    <main class="container">
        <h1>Compose</h1>
        <form action="/compose" method="POST">
            <input type="text" name="postTitle" placeholder="Title">
            <input type="text" name="postId" id="" placeholder="id">
            <br>
            <textarea name="postBody" cols="90" rows="20"></textarea>
            <br>
            <button type="submit" class="btn btn-outline-light"> Publish </button>
        </form>
    </main>
</body>

<%- include('footer'); -%>

</html>